
.main-container {
  margin-top: 2rem;
 padding: 0;
}
.todo-done-style {
  text-decoration: line-through;
  text-decoration-color: rgb(128, 128, 133);
  text-decoration-thickness: 0.2rem;
 
}
.notodo-image {
  padding: 15px;
  width: 50rem;
  height: 25rem;
  margin-top: 10px;
}
.form-label {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding-left: 10px;
}
.todoparagraph{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.editing-input{
    margin-left: 15px;
    margin-right: 15px;
}
.todos-col-style{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom:5px;
        border:solid rgb(8, 74, 172) 1px;
        padding:5px;
}
.check-all-container{
  margin-top: 15px;
  padding-left:20px;
  padding-right: 20px;

}
.todo-detail{
  margin-top: 15px;
}